{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Django Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap -->
  <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  <link href="{% static 'css/blog.css' %}" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <body>
</head>

<div class="container">

  <!-- ===== HEADER ===== -->
  <header class="blog-header py-3">
    <div class="row align-items-center">
      <div class="col-md-8">
        <a class="blog-header-logo text-dark font-weight-bold" href="/">Daily Blog</a>
      </div>
      {% if user.is_authenticated %}
      <div class="col-md-4 text-right">
        <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
        {% else %}
        <a class="btn btn-sm btn-warning" href="{% url 'login' %}">Login</a>
        <a class="btn btn-sm btn-outline-secondary ml-2" href="{% url 'register' %}">Register</a>
        {% endif %}
      </div>
    </div>
  </header>
  <div class="nav-scroller py-1 mb-4">
    <nav class="nav d-flex justify-content-between">
      {% for i in category %}
        <a class="p-2 text-muted" href="{% url 'post' i.id %}">{{ i.name }}</a>
      {% endfor %}
    </nav>
  </div>
  {% block content %}


  
  {% endblock %}
  <footer class="blog-footer text-center py-4 mt-5 bg-light">
    <p>Django Blog built with ❤️ by <strong>Arjun Dhakal</strong></p>
  </footer>
  
  </body>
  </html>
